section {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

h2, h3, h4 {
    margin: 10px 0;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
}

h3 {
    font-size: 1.4em;
    color: #555;
}

h4 {
    font-size: 1.2em;
    color: #888;
}